header {
    display: flex;
    justify-content: center;
    font-size: 10px;
    text-decoration: underline;
    text-decoration-color: oklch(0.9 0.15 500);
    text-decoration-thickness: 0.5em;
    text-underline-offset: -0.1em; /* 線の位置。テキストに重なるようにやや上部にする */
}

.form {
    border: 2px solid;
    border-radius: 20px;
    background-color: oklch(1 0.4 100);
    padding: 5px;
}

#search {
    background-color: oklch(1 0.3 300);
    height: 450px;
}

#goArea {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

#searchArea {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

#form {
    width: 50%;
}

#outputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

#g {
    width: 30%;
}

#saveArea {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
