h1 {
    text-align: center;
}

@media(max-width:600px){
    h1 {
        font-size: 18px;
    }
}

@media(max-width:600px){
    #goButton {}
}

#resultArea {
    border: 2px solid;
}

.form {
    border: 2px solid;
    margin-top: 30px;
    padding: 10px;
}

#output {
    display: flex;
    gap: 8%;
}

.deleteButton {
    margin-left: 80%;
}

.mealItem {
  padding: 6px;
  cursor: pointer;
}

.mealItem.selected {
  outline: 2px solid #ff9800;
  background-color: #fff3e0;
}

.nutrients {
    display: flex;
    gap: 5%;
}